body{
    background-color: black;
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
}

button{
    background-color: black;
    color: yellow;
    border-radius: 10px;
}

#shoppingCart{
    position: absolute;
    border: 1px solid yellow;
    right: 49vw;
    top: 0%;
    text-align: center;
}

#shop {
    position: absolute;
    left: 20vw;
    top: 9vw;
    background-color: black;
    border: 5px solid white;
    border-style: inset;
    overflow-y: scroll;
    width: 60%;
    height: 80%;
}

.product{
    position: relative;
    border-top: 2px solid yellow;
    border-bottom: 2px solid yellow;
    width: 58vw;
    height: 140px;
}

#prodImg{
    width: 128px;
    height: 128px;
}

#img{
    position: relative;
    border: 5px solid red;
    border-style: inset;
}

img{
    width: 128px;
    height: 128px;
}

#desc{
    position: absolute;
    top: 0%;
    font-size: 20pt;
}

#price{
    position: absolute;
    top: 25%;
    font-size: 20pt;
}

#weight{
    position: absolute;
    top: 50%;
    font-size: 20pt;
}

#quantity{
    position: absolute;
    top: 75%;
    font-size: 20pt;
}

#buttons{
    position: absolute;
    top: 75%;
    right: 0%;
    font-size: 20pt;
}

#buy{
    width: 100%;
}

#buy:hover{
    background-color: grey;
}